page-our-direction {
  .direct{
    align-items: center;
    align-content: center;
    background-color:#8B9FB1;
    color: #f4f4f4;
  }
  .head{
    color: #222;
  }
  hr{
    width: 60% ;
    background-color:#f4f4f4;
    color:#7996B0;
   }
   ion-label{
     color:"secondary";
   }
}
